<html xmlns:th="http://www.thymeleaf.org">
<head>

     <!--Milligram stylesheet-->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">

     Custom stylesheet
    <link rel="stylesheet" href="css/style.css" type="text/css">

    <title>Spending Events</title>

</head>
<body>

<h1>Spending Events Table</h1>



<table>
    <tr>
        <th>.</th>
        <th>.</th>
        <th>ID</th>
        <th>DATE</th>
        <th>AMOUNT</th>
        <th>DESCRIPTION</th>
        <th>CATEGORY</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td><button id="myBtn">Modify Entry</button></td>
        <td><a th:href="'/delete/' + ${task.id}"button id="myBtnn">Delete Entry</button></a></td>
        <!--<td><button id="myBtnn">Delete Entry</button></td>-->
        <td th:text="${task.id}"></td>
        <td th:text="${task.dayt}"></td>
        <td th:text="${task.amount}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.category}"></td>

    </tr>

</table>



    <!-- Modal form added here.  Used W3 schools tutorial for modal. -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>

            <form action="#" method="POST" th:action="@{/addTask}" th:object="${task}">

                <p>Hello</p>
                <input type="text" class="form-control" value=task.amount />

                <input type = "date" placeholder="date" value=task.dayt />

                <!--<br><br>-->
                <!--<input type = "text" placeholder="amount" th:field="*{amount}" />-->
                <!--<br><br>-->
                <!--<input type = "text" placeholder="description" th:field="*{description}" />-->
                <!--<br><br>-->

                <!--<select name = "category" th:field="*{category}">-->
                    <!--<option value="" disabled selected>Select Category</option>-->
                    <!--<option value="Target">Target</option>-->
                    <!--<option value="Clothing">Clothing</option>-->
                    <!--<option value="Pets">Pets</option>-->
                    <!--<option value="Mortgage/Rent">Mortgage/Rent</option>-->
                    <!--<option value="Utilities">Utilities</option>-->
                <!--</select>-->
                <!--<br><br>-->

                <!--<br>-->
                <!--<button id = "add-task">Add Task</button>-->

            </form>


            <!--<form method="POST" action="/modBird">-->
                <!--Name: <input name="name" required value={{bird.name}}>-->
                <!--<input type="hidden" name="_id" value="{{bird._id}}">-->
                <!--<br>Description: <input name="description" value="{{bird.description}}"/>-->
                <!--<br>Average Eggs: <input type="number" min="1" max="50" name="averageEggs" value={{bird.averageEggs}}>-->
                <!--<br>Endangered? <input type="checkbox" name="endangered" value={{bird.endangered}}/>-->
                <!--<br>Nest location: <input name="nestLocation" value={{bird.nest.nestLocation}}>-->
                <!--<br>Nest materials: <input name="nestMaterials" value={{bird.nest.nestMaterials}}>-->
                <!--<br>Height in inches: <input type = "number" name="height" min="1" max="250"value={{bird.height}}>  &lt;!&ndash; Client side validation inside modal here.&ndash;&gt;-->
                <!--<br><input type="submit" value="submit">-->
            <!--</form>-->
        </div>

    </div>
    <br><br>

    <br>
</div>

</div>


    </div>

</div>


<a href="/">Add a new task</a><br>
<a href="/categoriesTable">Go to Categories Table</a><br>


<script src="js/modals.js"></script>


</body>
</html>
